.demo a {
	background-color: rgb(253, 253, 186);
	padding: 0.5ex 1ex;
}

.table tbody {
	background-color: rgb(210,210,210);
}

.table thead {
	background-color: rgb(95,95,95);
	color:rgb(253, 253, 186);
}