.demo a {
	background-color: rgb(253, 253, 186);
	padding: 0.5ex 1ex;
}
.table tbody {
	background-color: rgb(240, 240, 240	);
}

.table thead {
	background-color: rgb(95,95,95);
	color:rgb(253, 253, 210);
}

.table th p {
	margin-bottom: 0ex;
}

.table td p {
	margin-bottom: 0ex;
}

.term {
	font-weight: bolder;
}

/* .admonition.tip > .admonition-title:before {
    color: #ffc107;
    content: "ïƒ«";
} */

/* .solution .admonition-title {
    background-color: #c7c0ac;
} */

.solution > .admonition-title:before {
	content: "" !important;
}

.solution > .admonition-title:after {
	content: "Solution" !important;
}

.math {
	overflow-y: visible;
}